@using ViewRes
@using Webmall.UI.Core

@{
    string pageTitle = ViewBag.HeaderTitle ?? (string)ViewContext.RouteData.Values["PageTitle"];
    string keywords = ViewBag.Keywords ?? ((string)ViewContext.RouteData.Values["PageKeywords"]) ?? ViewData["Keywords"];
    string description = ViewBag.Description ?? ((string)ViewContext.RouteData.Values["PageDescription"]) ?? (ViewData["Description"] ?? "").ToString();

    if (!string.IsNullOrWhiteSpace(pageTitle)) { ViewBag.Title = pageTitle; }
    var culture = UserPreferences.CurrentCulture;

}

<!DOCTYPE html>
<html lang="@culture">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>@(ViewContext.RouteData.Values["PageBrowserTitle"] ?? ViewBag.HeaderTitle ?? ViewBag.Title)</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />
    @if (keywords != null)
    {
        <meta name="keywords" content="@keywords" />
    }
    <meta name="description" content="@(description)" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    @*<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">*@

    @{Html.RenderPartial("Layouts/_Tags");}
    @RenderSection("headerScript", false)
    @{Html.RenderPartial("Layouts/_Captcha");}
    @Styles.Render("~/assets/css/all")
    @Styles.Render("~/Content/autocomplete")
    @RenderSection("styles", false)
</head>
<body class="@(ViewBag.BodyClass ?? "index-page")">
    <div class="wrapper">
        <div class="wrapper__main">

            @*@{Html.RenderAction("MainInformer", "Layout", new { culture = @UserPreferences.CurrentCulture });}*@

            @{Html.RenderPartial("Layouts/_Header");}

            @*@{Html.RenderPartial("Components/Informer");}*@
            <!--  Start Body _Layout  -->
            @RenderBody()
            <!--  End Body _Layout -->
        </div>
        @{ Html.RenderAction("Footer", "Layout"); }
    </div>

    @{ Html.RenderPartial("~/Views/Layout/CommonDialogs.cshtml"); }

    @*<script src="https://unpkg.com/popper.js@1"></script>
        <script src="https://unpkg.com/tippy.js@5"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>*@
    <script>
        @*
        const isDesktopNavbarMedia = window.matchMedia('(min-width: 768px)');

        if (isDesktopNavbarMedia.matches) {
            const navbarMasonryLists = document.querySelectorAll('.main-nav__sub-list');

            navbarMasonryLists.forEach((navbarMasonryList) => {
                const navbarMasonryInstance = new Masonry(navbarMasonryList, {
                    itemSelector: '.main-nav__sub-item',
                    columnWidth: '.main-nav__sub-item',
                    percentPosition: true,
                });
            });
        }
        *@
        window.areYouSure = '@SharedResources.AreYouSure';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tools")
    @Scripts.Render("~/bundles/default")
    @Scripts.Render("~/assets/js/main.js")
    @Scripts.Render("~/assets/js/libs.min.js")
    <script>
    document._action_ChangeCurrentClient = '@Url.Action("ChangeCurrentClient", "Security")';
    document._currentUrl = '@Server.UrlEncode(ViewContext.RequestContext.HttpContext.Request.RawUrl)';
    </script>
    @if (UserPreferences.CurrentCulture.Substring(0, 2) != "en")
    {
        <script type="text/javascript" src="@Url.Content($@"~/Scripts/localization/messages_{UserPreferences.CurrentCulture.Substring(0, 2)}.js")"></script>
        @*<script type="text/javascript" src="@Url.Content(String.Format(@"~/Scripts/i18n/datepicker-{0}.js", UserPreferences.CurrentCulture.Substring(0, 2)))"></script>
            <script>
            $.datepicker.setDefaults($.datepicker.regional["@UserPreferences.CurrentCulture.Substring(0, 2)"]);
            </script>*@
    }

    @RenderSection("scripts", required: false)
    @RenderSection("dialogs", required: false)

</body>
@{Html.RenderPartial("Layouts/_TagsAfterBody");}

@{ Html.RenderPartial("SyncCartScript"); }
</html>