@using ViewRes
@model Webmall.UI.Models.ComparisionActModel
@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}
<h1 class="main-title">@SharedResources.ComparisionAct</h1>
<header class="orders-header-controls d-md-none">
    <a class="orders-filter-toggle" href="#">
        <svg class="icon icon-sliders-h orders-filter-toggle__icon">
            <use href="@Url.Content("~/assets/images/svg/symbol/sprite.svg#sliders-h")"></use>
        </svg>@SharedResources.Filters
    </a>
</header>
@{ Html.RenderPartial("_ComparisionActFilter"); }

@{ Html.RenderPartial("_ComparisionActTable", Model); }

@section styles{ 
    @Styles.Render("~/Content/views/comparisionAct")
}

@section scripts
{
    <script>
        $(function () {
            $("#ComparisionActButton").click(function () {
                var form = document.createElement("form");
                form.method = "GET";
                form.action = "@Url.Action("ComparisionAct", "Reports")";

                var startDate = $("#StartDate").clone();
                var endDate = $("#EndDate").clone();

                $(form).css('display', 'none');
                $("body").append(form);
                $(form).append(startDate);
                $(form).append(endDate);
                $(form).append($("#detailed").clone());
                $(form).append($("#excel").clone());
                $(form).append($("#pdf").clone());

                $(form).submit();
                @*Специально ошибка*@
                $("body").remove(form);
                
            });

            $('.spec-payment-table__toggle-icon').click(function () {
                ExpandRow(this.parentElement.parentElement.parentElement);
            });
            $('.spec__heading').click(function () {
                ExpandRow(this);
            });
        });

        function ExpandRow(row) {
            var panelId = $(row).attr("panelId");
            //var subcategory = $(row).next();
            GetDetail($(row).attr("rowId"), panelId);
        }

        function GetDetail(detailId, panelId) {
            var row = $('#'+panelId);
            if (row.is('*[wasloaded]')) {
                return;
            }

            var url = '@(Url.Action("GetDetailRows", "ComparisionAct"))?detailId=' + detailId;
            updatePannel(url, "body_det_" + panelId);
            url = '@(Url.Action("GetDetailRows", "ComparisionAct"))?mobile=true&detailId=' + detailId;
            updatePannel(url, "div_det_" + panelId);
            row.attr('wasloaded', 'true');
        }
    </script>
}
