@using Webmall.Model
@using Webmall.UI.Core
@{
    var isGross = SessionHelper.IsGross;

    var jivositeId = ConfigHelper.GetCustomJivositeId(isGross, UserPreferences.CurrentCultureLink);
    var gaAcc = ConfigHelper.GoogleAnalyticsAccount;
    var gtmAcc = ConfigHelper.GoogleTagManagerAccount;
    var yaAcc = ConfigHelper.YandexMetrikaAccount;
    string currentUrl = ViewContext.HttpContext.Request.Url.AbsoluteUri;
    var description = ((string)ViewContext.RouteData.Values["PageDescription"]) ?? (ViewData["Description"] ?? "").ToString();
}
@if (ViewBag.UseLike == true)
{
    <meta property="og:url" content="@currentUrl" />
    <meta property="og:image" content="@ViewBag.ImageUrl" />
    <meta property="og:site_name" content="webmall.md" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@(description)" />
}
@if (ConfigHelper.GeoPosition != null)
{
    <meta name="geo.region" content="@ConfigHelper.GeoRegion" />
    <meta name="geo.placename" content="@ConfigHelper.GeoPlacename" />
    <meta name="geo.position" content="@ConfigHelper.GeoPosition" />
    <meta name="ICBM" content="@ConfigHelper.GeoICBM" />
}

@if (!string.IsNullOrEmpty(jivositeId))
{

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
            (function () {
                var widgetId = '@jivositeId';
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widgetId;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            })();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
}

@* Google Analitics *@
@if (!string.IsNullOrEmpty(gaAcc))
{
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '@(gaAcc)', 'auto');
        var dimensionValue = '@(SessionHelper.CurrentClientId != null ? (SessionHelper.IsGross ? "Gross" : "Retail") : "Guest")';
        ga('set', 'dimension1', dimensionValue);
        ga('send', 'pageview');
    </script>
}
@* Google Tag Manager *@
@if (!string.IsNullOrEmpty(gtmAcc))
{
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', '@(gtmAcc)');
    </script>
    <!-- End Google Tag Manager -->
}
@if (!string.IsNullOrEmpty(yaAcc))
{
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try { w.yaCounter@(yaAcc) = new Ya.Metrika({ id: @(yaAcc), clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true }); } catch (e) { }
                }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
                    n.parentNode.insertBefore(s, n);
                }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
            })(document, window, "yandex_metrika_callbacks"); </script>
    @*<noscript>
            <div><img src="https://mc.yandex.ru/watch/@(yaAcc)" style="position:absolute; left:-9999px;" alt="" /></div>
        </noscript>*@
    <!-- /Yandex.Metrika counter -->
}
@if (!string.IsNullOrEmpty(ConfigHelper.FacebookPixelId))
{
    <!-- Facebook Pixel Code -->
    <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '@(ConfigHelper.FacebookPixelId)');
            fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=@(ConfigHelper.FacebookPixelId)&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
}
