@using ViewRes
@model List<Webmall.Model.Entities.Auto.AutoModification>

@{
    Layout = null;
}

<div class="table-responsive select-car__wrap">
    <table class="kit-table select-car__table is-fixed is-dark">
        <thead>
            <tr>
                <th>@SharedResources.Engine</th>
                <th>@SharedResources.EngineCode</th>
                <th>@SharedResources.YearOfProduce</th>
                <th>@SharedResources._kWt</th>
                <th>@SharedResources._HP</th>
                <th>@SharedResources.VolumeCm<sub>3</sub></th>
                <th>@SharedResources.BodyType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var url = Url.Action("WaresForModif", "Catalog", new { modif = item.Id });
                <tr class="spec-table__tr">
                    <td class="spec-table__td">
                        <div class="kit-table__title">
                            <a class="kit-table__title-link" href="@url">@item.Name</a>
                        </div>
                    </td>
                    <td><div class="kit-table__title">@item.EngineCode</div></td>
                    <td><span class="kit-table__text">@(item.DateBegin.HasValue ? item.DateBegin.Value.ToShortDateString() : String.Empty) - @(item.DateEnd.HasValue && item.DateEnd.Value.Year > 1900 ? item.DateEnd.Value.ToShortDateString() : String.Empty)</span></td>
                    <td><span class="kit-table__text">@item.KW</span></td>
                    <td><span class="kit-table__text">@item.PS</span></td>
                    <td><span class="kit-table__text">@item.CcmTech</span></td>
                    <td class="text-right">
                        <div class="kit-table__text is-mute">
                            @item.BodyTypeName
                            <span class="kit-table__info auto-tippy" id="@(item.Id)">
                                <svg class="icon icon-info kit-table__info-icon" width="25" height="25">
                                    <use href="@Url.Content("~/assets/images/svg/symbol/sprite.svg#info")"></use>
                                </svg>
                            </span>
                        </div>
                        @*<div class="spec-table__type">@item.BodyTypeName<i data__title="" id="@(item.Id)" onclick="UpdateInfo(this);" class="tooltip fas fa-info"></i></div>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- kit-area-->
<div class="select-car__data kit-products">
    <!-- kit-product-->
    <div class="kit-products__item kit-product js-accordion is-active">
        @*<div class="kit-product__header js-accordion-trigger">
            <div class="kit-product__heading">Audi</div>
        </div>*@
        <div class="kit-product__main js-accordion-body">
            @foreach (var item in Model)
            {
                var url = Url.Action("WaresForModif", "Catalog", new { modif = item.Id });
                <div class="kit-product__subsection">
                    <div class="kit-product__model">@item.Name</div>
                    <dl class="kit-product__props">
                        <div class="kit-product__prop">
                            <dt class="kit-product__property">@SharedResources.EngineCode</dt>
                            <dd class="kit-product__value">
                                <a class="kit-product__link" href="@url">@item.EngineCode</a>
                            </dd>
                        </div>
                        <div class="kit-product__prop">
                            <dt class="kit-product__property">@SharedResources.YearOfProduce</dt>
                            <dd class="kit-product__value">@(item.DateBegin.HasValue ? item.DateBegin.Value.ToShortDateString() : string.Empty) - @(item.DateEnd.HasValue ? item.DateEnd.Value.ToShortDateString() : string.Empty)</dd>
                        </div>
                        <div class="kit-product__prop">
                            <dt class="kit-product__property">@SharedResources.PowerKw</dt>
                            <dd class="kit-product__value">@item.KW</dd>
                        </div>
                        <div class="kit-product__prop">
                            <dt class="kit-product__property">@SharedResources.PowerHp</dt>
                            <dd class="kit-product__value">@item.PS</dd>
                        </div>
                        <div class="kit-product__prop">
                            <dt class="kit-product__property">@SharedResources.VolumeCm</dt>
                            <dd class="kit-product__value">@item.CcmTech</dd>
                        </div>
                        <div class="kit-product__prop">
                            <dt class="kit-product__property">@SharedResources.BodyType</dt>
                            <dd class="kit-product__value">
                                @item.BodyTypeName
                                <span class="kit-product__info auto-tippy" id="@(item.Id)">
                                    <svg class="icon icon-info kit-product__info-icon" width="25" height="25">
                                        <use href="@Url.Content("~/assets/images/svg/symbol/sprite.svg#info")"></use>
                                    </svg>
                                </span>
                            </dd>
                        </div>
                    </dl>
                </div>
            }
        </div>
    </div><!-- /kit-product-->
</div><!-- /kit-area-->



@*<div class="spec d-md-none">
    <div class="spec__title">@SharedResources.Engine</div>
    @foreach (var mod in Model)
    {
        var url = Url.Action("WaresForModif", "Catalog", new { modif = mod.Id, groupId = 0 });
        var onclick = "onclick=\"document.location.href='" + url + "'\"";
        <div class="spec__product">
            <div class="spec__heading"><a href="@url">@mod.Name</a></div>
            <div class="spec__detail">
                <dl class="spec__params">
                    <dt class="spec__property"> @SharedResources.EngineCode</dt>
                    <dt class="spec__value">@mod.EngineCode</dt>
                    <dt class="spec__property">@SharedResources.YearOfProduce</dt>
                    <dt class="spec__value">@(mod.DateBegin.HasValue ? mod.DateBegin.Value.ToShortDateString() : String.Empty) - @(mod.DateEnd.HasValue ? mod.DateEnd.Value.ToShortDateString() : String.Empty)</dt>
                    <dt class="spec__property">@SharedResources.PowerKw</dt>
                    <dt class="spec__value">@mod.KW</dt>
                    <dt class="spec__property">@SharedResources.PowerHp</dt>
                    <dt class="spec__value">@mod.PS</dt>
                    <dt class="spec__property">@SharedResources.VolumeCm</dt>
                    <dt class="spec__value">@mod.CcmTech</dt>
                    <dt class="spec__property">@SharedResources.BodyType</dt>
                    <dt class="spec__value">@mod.BodyTypeName</dt>
                </dl>
                <a class="spec__params-more" href="" id="@(mod.Id)" onclick="UpdateInfo(this); return false;" data__title="@mod.EngineCode">@SharedResources.Specifications</a>
            </div>
        </div>
    }
</div>*@


