
@using System.Globalization
@using ViewRes
@using Webmall.UI.Core

@model Webmall.UI.ViewModel.Order.OrdersDetailModel

@{
    Layout = null;
    ViewBag.Title = "Detail";
    var rate = 1;
}

<div class="stock-area__mob-table stock-mob-table js-checked-all is-detail">
    <header class="stock-mob-table__header">
        <div class="stock-mob-table__row">
            <div class="stock-mob-table__cell">
                <div class="stock-mob-table__checkbox checkbox-label">
                    <input class="checkbox-label__input js-checked-all-trigger" type="checkbox" name="is-opt-16" id="opt-16">
                    <label class="checkbox-label__main" for="opt-16"></label>
                </div>
            </div>
            <div class="stock-mob-table__cell">
                <div class="stock-mob-table__caption">
                    @SharedResources.WareNumber, @SharedResources._brand
                </div>
            </div>
            <div class="stock-mob-table__cell">
                <div class="stock-mob-table__caption">@SharedResources.ReturnPeriod</div>
            </div>
            <div class="stock-mob-table__cell">
                <div class="stock-mob-table__caption text-center">@SharedResources.Amount</div>
            </div>
            <div class="stock-mob-table__cell">
                <div class="stock-mob-table__caption">@SharedResources.Sum</div>
            </div>
            <div class="stock-mob-table__cell">
                <div class="stock-mob-table__caption">&nbsp;</div>
            </div>
        </div>
    </header>

    <div class="stock-mob-table__main">
        @foreach (var item in Model.Order.Positions)
        {
            var wareUrl = Url.Action("WareIndex", "Catalog", new { group = Request.QueryString["group"], id = item.WareId, returnUrl = Request.Url });

            <div class="stock-mob-table__row js-accordion">
                <div class="stock-mob-table__cell">
                    <div class="stock-mob-table__checkbox checkbox-label">
                        <input class="checkbox-label__input js-checked-all-item" type="checkbox" name="is-opt-@item.Id" id="opt-@item.Id">
                        <label class="checkbox-label__main" for="opt-@item.Id"></label>
                    </div>
                </div>
                <div class="stock-mob-table__cell">
                    <div class="stock-mob-table__info">
                        <a class="stock-mob-table__articul" href="@wareUrl">@item.ProducerName</a>
                        <div class="stock-mob-table__heading">
                            <a class="stock-mob-table__heading-link" href="@wareUrl">@item.WareName</a>
                        </div>
                    </div>
                </div>
                <div class="stock-mob-table__cell">
                    <div class="stock-mob-table__text">
                        ??? нужно добавить
                    </div>
                </div>
                <div class="stock-mob-table__cell text-center">
                    <div class="stock-mob-table__text">@item.WareQnt</div>
                </div>
                <div class="stock-mob-table__cell">
                    <div class="stock-mob-table__prices">
                        <strong class="stock-mob-table__price-primary">@item.Price</strong>
                        @*<span class="stock-mob-table__price-secondary">1000,24</span>*@
                    </div>
                </div>
                <div class="stock-mob-table__cell">
                    <button class="stock-mob-table__mob-toggle js-accordion-trigger" type="button">
                        <svg class="icon icon-chevron-down stock-mob-table__mob-toggle-icon" width="25" height="25">
                            <use href="@Url.Content("~/assets/images/svg/symbol/sprite.svg#chevron-down")"></use>
                        </svg>
                    </button>
                </div>
                <div class="stock-mob-table__dropdown js-accordion-body" hidden>
                    <div class="stock-mob-table__params">
                        <div class="stock-mob-table__param">
                            <dt class="stock-mob-table__property">@SharedResources.Name</dt>
                            <dd class="stock-mob-table__value">@item.WareName</dd>
                        </div>
                        <div class="stock-mob-table__param">
                            <dt class="stock-mob-table__property">@SharedResources.PricePerOne</dt>
                            <dd class="stock-mob-table__value">@SessionHelper.PriceFormat(item.Price)</dd>
                        </div>
                        <div class="stock-mob-table__param is-centered">
                            <dt class="stock-mob-table__property">@SharedResources.Status</dt>
                            <dd class="stock-mob-table__value">
                                <div class="stock-mob-table__status status-badge is-active">@item.StatusName</div>
                            </dd>
                        </div>
                    </div>
                    <div class="stock-mob-table__comment user-note">
                        <label class="user-note__caption" for="un-@item.Id">@item.Comment:</label>
                        <textarea class="user-note__input input" placeholder="@SharedResources.AddComment" id="un-@item.Id" oninput="return SubmitEditPositionCommentMobile(this,  @item.Id)">@item.Comment</textarea>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="stock-mob-table__footer">
        <div class="stock-mob-table__summary summary-list">
            <div class="summary-list__param">
                <dt class="summary-list__property">Доставка</dt>
                <dd class="summary-list__value">0,00 р. </dd>
            </div>
            <div class="summary-list__param">
                <dt class="summary-list__property">Сумма заказа</dt>
                <dd class="summary-list__value">@Model.Order.Sum</dd>
            </div>
        </div>
    </div>

</div>