@using ViewRes
@using Webmall.UI.Models.Catalog
@using Webmall.UI.Core

@{
    var searchType = ViewBag.SearchType ?? ((Request.Cookies[CookieNames.SearchType] != null && Enum.TryParse(Request.Cookies[CookieNames.SearchType].Value, out SearchType v)) ? v : SearchType.Number);
}
@*<button class="search-form-toggle">
    <svg class="icon icon-search search-form-toggle__icon">
        <use href="~/assets/images/svg/symbol/sprite.svg#search"></use>
    </svg>
</button>*@
@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { id = "search-form", name = "search-form", @class = "search-form" }))
{
    <div class="search-form__field search-form__field--choices">
        <select class="js-select-search" name="searchCriteria" id="searchCriteria">
            <option value="articul" @(searchType == SearchType.Number ? "selected" : "")>@SharedResources.SearchByArticle</option>
            <option value="title" @(searchType == SearchType.Name ? "selected" : "")>@SharedResources.SearchByName</option>
            <option value="vin" @(searchType == SearchType.Vin ? "selected" : "")>@SharedResources.SearchByVIN</option>
        </select>
    </div>
    <div class="search-form__field search-form__field--input">
        <input class="search-form__input input" type="search" name="search" id="search-input" placeholder="@SharedResources.SearchPlaceholderArticle" value="@ViewBag.SearchString"
               data-articul="@SharedResources.SearchPlaceholderArticle" data-title="@SharedResources.SearchPlaceholderName" data-vin="@SharedResources.SearchPlaceholderVin">
        <a class="search-form__history" href="@Url.Action("SearchHistory", "Catalog")">
            <svg class="search-form__history-icon icon" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.1154 1.18967V2.73834C15.4923 3.15234 17.8846 6.21134 17.4692 9.577C17.1154 12.3677 14.9154 14.5833 12.1154 14.913V16.4463C16.3462 16.0247 19.4231 12.2833 19 8.06667C18.6538 4.425 15.7538 1.55 12.1154 1.18967ZM10.5769 1.21267C9.07692 1.35834 7.64615 1.93334 6.47692 2.89934L7.57692 4.034C8.43846 3.344 9.47692 2.89934 10.5769 2.746V1.21267ZM5.39231 3.98034C4.4305 5.14363 3.83861 6.56637 3.69231 8.06667H1.34616L4.42308 11.5166L7.57692 8.06667H5.23077C5.37692 6.978 5.80769 5.943 6.49231 5.07667L5.39231 3.98034ZM7.57692 13.717L6.47692 14.7673C7.64214 15.7354 9.06867 16.3383 10.5769 16.5V14.9667C9.48261 14.8256 8.44646 14.394 7.57692 13.717ZM11.7308 6V9.025L14.3589 10.5736L13.782 11.5166L10.5769 9.6V6H11.7308Z" fill="#525252"></path>
                <path d="M1.34616 8.06667H3.69231C3.83861 6.56637 4.4305 5.14363 5.39231 3.98034L6.49231 5.07667C5.80769 5.943 5.37692 6.978 5.23077 8.06667H7.57692M1.34616 8.06667L4.42308 11.5166L7.57692 8.06667M1.34616 8.06667H7.57692M12.1154 1.18967V2.73834C15.4923 3.15234 17.8846 6.21134 17.4692 9.577C17.1154 12.3677 14.9154 14.5833 12.1154 14.913V16.4463C16.3462 16.0247 19.4231 12.2833 19 8.06667C18.6538 4.425 15.7538 1.55 12.1154 1.18967ZM10.5769 1.21267C9.07692 1.35834 7.64615 1.93334 6.47692 2.89934L7.57692 4.034C8.43846 3.344 9.47692 2.89934 10.5769 2.746V1.21267ZM7.57692 13.717L6.47692 14.7673C7.64214 15.7354 9.06867 16.3383 10.5769 16.5V14.9667C9.48261 14.8256 8.44646 14.394 7.57692 13.717ZM11.7308 6V9.025L14.3589 10.5736L13.782 11.5166L10.5769 9.6V6H11.7308Z" stroke="#525252" stroke-width="0.6"></path>
            </svg>
        </a>
        <button class="search-form__submit" type="submit" name="send-data">
            <svg class="icon icon-magnifying-zoom-glass search-form__submit-icon">
                <use href="@Url.Content("~/assets/images/svg/symbol/sprite.svg#magnifying-zoom-glass")"></use>
            </svg>
        </button>
    </div>
    @*if (useAccurateSearch) {
        <div class="search-form__field d-none d-sm-block">
            <input class="search-form__checkbox" type="checkbox" name="accurateSearch" id="accurate-checkbox">
            <label class="search-form__checkbox-label" for="accurate-checkbox">@SharedResources.AccurateSearch</label>
        </div>
        }*@
        <div class="search-form__mob-close-trigger js-mobile-search-trigger d-none">
            <svg class="icon icon-close search-form__mob-close-trigger-icon">
                <use href="@Url.Content("~/assets/images/svg/symbol/sprite.svg#close")"></use>
            </svg>
        </div>
    <input id="producers" name="producers" type="hidden">
    @*@Html.Hidden("producers")*@
}


