@using ViewRes

@model Webmall.UI.Models.PinCode
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = SharedResources.ChangePassword_Cap;
    var minutes = (Model.ValidTo - DateTime.Now).TotalMinutes;
    var text = (minutes > 1)
        ? $"<strong id=\"timer\">{Math.Round(minutes)}</strong> {SecurityResources.Minutes}"
        : $"<strong id=\"timer\">{Math.Round(minutes * 60)}</strong> {SecurityResources.Seconds}";
}

<div class="container-fluid">
    <div class="content">
        <div class="restore">
            <div class="restore__img-wrap">
                <img class="restore__img" src="@Url.Content("~/assets/images/restore-password.svg")" alt="" width="620" height="640">
            </div>
            <div class="restore__main">
                <!-- restore-form-->
                <div class="restore__form restore-form">
                    <img class="restore-form__img" src="@Url.Content("~/assets/images/lock.svg")" alt="" width="620" height="640">
                    <div class="restore-form__heading">@SharedResources.ChangePassword_Cap</div>
                    @using (Html.BeginForm("ChangePassword", "Security", FormMethod.Post, new { @class = "restore-form__main", id = "register-form", name = "auth-form" }))
                    {
                        @Html.ValidationSummary(true, SharedResources.ErrorsFound)
                        <div class="restore-form__fields">
                            <div class="restore-form__fields">
                                <div class="restore-form__field">
                                    <label class="restore-form__caption" for="pinCode">@SharedResources.EnterPinCode <span>*</span></label>
                                    @Html.TextBox("pinCode", null, new { @class = "restore-form__input input" })
                                    @Html.ActionLink(SharedResources.ResendPin, "ResendPin", null, new { @class = "restore-form__control" });
                                </div>
                                <div class="restore-form__field">
                                    <label class="restore-form__caption" for="password">@SharedResources.Password <span>*</span></label>
                                    @Html.Password("password", null, new { @class = "restore-form__input input" })
                                </div>
                                <div class="restore-form__field">
                                    <label class="restore-form__caption" for="password2">@SharedResources.RepeatPassword <span>*</span></label>
                                    @Html.Password("password2", null, new { @class = "restore-form__input input" })
                                    <div class="restore-form__helper">
                                        @SecurityResources.AttemptsRemain: <strong>@Model.AttemptsRemain</strong> @SecurityResources.InTime @Html.Raw(text)
                                        <br>@SharedResources.Email: <strong>@Model.Owner</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="restore-form__bottom">
                            <input class="restore-form__btn btn btn--primary" type="submit" value="@SharedResources.Change">
                        </div>
                    }
                </div><!-- /restore-form-->
            </div>
        </div><!-- /restore-->
    </div>
</div>

@*
    <div class="inner-section">
        <div class="inner-section__main inner-section__main--wider">
            <h1 class="main-title">@SharedResources.ChangePassword_Cap</h1>
            <div class="inner-section__body inner-section__body--no-gutters">
                @Html.ValidationSummary(true, SharedResources.ErrorsFound)
                <div class="reg-form-wrap">
                    @using (Html.BeginForm("ChangePassword", "Security", FormMethod.Post, new { @class = "main-form", id = "register-form", name = "auth-form" }))
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="main-form__field">
                                    <label class="main-form__label" for="pinCode">@SharedResources.EnterPinCode <span>*</span></label>
                                    @Html.TextBox("pinCode")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.ActionLink(SharedResources.ResendPin, "ResendPin");
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="main-form__field">
                                    <label class="main-form__label" for="password">@SharedResources.Password <span>*</span></label>
                                    @Html.Password("password")
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="main-form__field">
                                    <label class="main-form__label" for="password-verify">@SharedResources.RepeatPassword <span>*</span></label>
                                    @Html.Password("password2")
                                </div>
                            </div>
                        </div>

                        <div class="main-form__footer">
                            <div class="main-form__field main-form__field--flex">
                                <input class="main-form__btn btn btn--main" id="submit" value="@SharedResources.Change" type="submit">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
*@