@using Webmall.Model
@using ViewRes
@using Webmall.UI.Core

@model Webmall.UI.ViewModel.Security.PasswordRecoveryViewModel
@{
    ViewBag.Title = SecurityResources.AccessRecovery;
}

<div class="container-fluid">
    <div class="content">
        <!-- restore-->
        <div class="restore">
            <div class="restore__img-wrap">
                <img class="restore__img" src="@Url.Content("~/assets/images/restore-password.svg")" alt="" width="620" height="640">
            </div>
            <div class="restore__main">
                <!-- restore-form-->
                <div class="restore__form restore-form">
                    <img class="restore-form__img" src="@Url.Content("~/assets/images/lock.svg")" alt="" width="620" height="640">
                    <div class="restore-form__heading">@SecurityResources.AccessRecovery</div>
                    @using (Html.BeginForm("PasswordRecovery", "Security", FormMethod.Post, new { id = "recovery-form", @class = "restore-form__main" }))
                    {
                        <p class="error">@Html.ValidationSummary(true, SharedResources.ErrorsFound)</p>
                        <div class="restore-form__fields">
                            <div class="restore-form__fields">
                                <div class="restore-form__field">
                                    <label class="restore-form__caption" for="login">
                                        @Html.Raw(Model.Label) <span>*</span>
                                    </label>
                                    <input class="restore-form__input input" type="text" name="login" id="login" value="@Model.Login">
                                </div>
                                <div class="restore-form__field">
                                    <div id="RecaptchaPasswordRecovery"></div>
                                    @*<div class="restore-form__checkbox checkbox-label">
                                            <input class="checkbox-label__input" type="checkbox" name="verify" id="verify">
                                            <label class="checkbox-label__main" for="verify">Подтвердите , что вы не робот </label>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="restore-form__bottom">
                            <input class="restore-form__btn btn btn--primary" type="submit" value="@SecurityResources.SendRequest">
                        </div>
                    }
                    <div class="restore-form__notification info">
                        <p>
                            @Html.Raw(Model.Text)
                        </p>
                    </div>
                </div><!-- /restore-form-->
            </div>
        </div><!-- /restore-->
    </div>
</div>


@*

    <div class="inner-section">
        <div class="inner-section__main inner-section__main--wider">
            <div class="inner-section__header">
                <h1>@SecurityResources.PasswordRecovery</h1>
            </div>
            <div class="image-message"> <img src="@Url.Content("~/Content/images/vost-pass.png")" width="106" height="171" alt="@SecurityResources.PasswordRecovery"></div>
            <div id="message">
                <p>
                    @(new HtmlString(SecurityResources.PasswordRecoveryMessage))
                </p>
                <p class="error">@Html.ValidationSummary(true, SharedResources.ErrorsFound)</p>
                @using (Html.BeginForm("PasswordRecovery", "Security", FormMethod.Post, new { id = "recovery-form", @class = "registration" }))
                {
                    <fieldset>
                        <dl>
                            <dt>@SharedResources.EmailAsLogin</dt>
                            <dd>
                                <input type="text" name="login" />
                            </dd>
                            <dt>@SecurityResources.ConfirmYouAreNotRobot</dt>
                            <dd>
                                <div id="RecaptchaPasswordRecovery"></div>
                            </dd>
                            <dt></dt>
                            <dd class="button-submit">
                                @Html.SubmitInput(SecurityResources.PasswordRecovery, new { @class = "main-form__btn btn btn--main" })
                            </dd>
                        </dl>
                    </fieldset>
                }
            </div>
        </div>
    </div>

*@

@section headerScript
{
    <script src="//www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#recovery-form").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        var CaptchaCallback = function () {
            window.grecaptcha.render('RecaptchaPasswordRecovery', { 'sitekey': '@ConfigHelper.CaptchaSiteKey' });
        };
    </script>
}