@using ViewRes
@model List<Webmall.Model.Entities.Auto.Applicability>

@{
    Layout = null;
}

@if (Model.Any())
{
    var markList = Model.Select(i => i.Mark).Distinct();
    var last = markList.LastOrDefault();

<div class="kit-area">
    <ul class="extra-items kit-area__tags">
        @foreach (var item in markList)
        {
            <li class="extra-items__item">
                <a class="extra-items__link" href="#">@item</a>
            </li>
        }
    </ul>
    <div class="kit-area__main">
        <div class="table-responsive kit-area__wrap">
            <table class="kit-table kit-area__table">
                <thead>
                    <tr>
                        <th>@SharedResources.EngineVolume</th>
                        <th class="text-center">@SharedResources.VolumeCm</th>
                        <th class="text-center">@SharedResources.YearOfProduce</th>
                        <th class="text-center">@SharedResources.PowerHp (@SharedResources._kWt)</th>
                        <th class="text-center">@SharedResources.BodyType</th>
                    </tr>
                </thead>
                @foreach (var item in markList)
                {
                    var allModel = Model.Where(i => i.Mark == item);
                    <tbody>
                        <tr>
                            <td colspan="5">
                                <div class="kit-table__heading">@item</div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="spec-table__tbody">
                        @foreach (var modelItem in allModel)
                        {
                            <tr>
                                <td>
                                    <div class="kit-table__heading"><a class="kit-table__title-link" href="#">@modelItem.Mark @modelItem.Model</a></div>
                                </td>
                                <td class="text-center">@modelItem.Modification</td>
                                <td class="text-center"><span class="kit-table__heading">@String.Format("{0:dd.MM.yyyy}", modelItem.DateBegin) - @String.Format("{0:dd.MM.yyyy}", modelItem.DateEnd)</span></td>
                                <td class="text-center"><span class="spec-table__amount">@modelItem.PS (@modelItem.KW)</span></td>
                                <td class="text-center"><span class="spec-table__instock">@modelItem.BodyTypeName</span></td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>

        <div class="kit-area__data kit-products">
            @foreach (var item in markList) {
                var allModel = Model.Where(i => i.Mark == item);

            <div class="kit-products__item kit-product js-accordion">
                <div class="kit-product__header js-accordion-trigger">
                    <div class="kit-product__heading">
                        @item
                    </div>
                </div>
                
                <div class="kit-product__main js-accordion-body">
                    @foreach (var modelItem in allModel)
                    {
                        <div class="kit-product__subsection">
                            <div class="kit-product__model">@modelItem.Mark</div>
                            <div class="kit-product__props">
                                <div class="kit-product__prop">
                                    <dt class="kit-product__property">@SharedResources.EngineVolume</dt>
                                    <dd class="kit-product__value">
                                        <a class="kit-product__link" href="#">@modelItem.Mark @modelItem.Model</a>
                                    </dd>
                                </div>

                                <div class="kit-product__prop">
                                    <dt class="kit-product__property">@SharedResources.VolumeCm</dt>
                                    <dd class="kit-product__value">
                                        <a class="kit-product__link" href="#">@modelItem.Modification</a>
                                    </dd>
                                </div>
                                <div class="kit-product__prop">
                                    <dt class="kit-product__property">@SharedResources.YearOfProduce</dt>
                                    <dd class="kit-product__value">
                                        <a class="kit-product__link" href="#">@String.Format("{0:dd.MM.yyyy}", modelItem.DateBegin) - @String.Format("{0:dd.MM.yyyy}", modelItem.DateEnd)</a>
                                    </dd>
                                </div>
                                <div class="kit-product__prop">
                                    <dt class="kit-product__property">@SharedResources.PowerHp (@SharedResources._kWt)</dt>
                                    <dd class="kit-product__value">
                                        <a class="kit-product__link" href="#">@modelItem.PS (@modelItem.KW)</a>
                                    </dd>
                                </div>
                                <div class="kit-product__prop">
                                    <dt class="kit-product__property">@SharedResources.BodyType</dt>
                                    <dd class="kit-product__value">
                                        <a class="kit-product__link" href="#">@modelItem.BodyTypeName</a>
                                    </dd>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>

}
else
{
    <div>@SharedResources.NoData</div>
}


